:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: ■rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --cardHover: rgb(255, 255, 255);
}

.error {
  padding: 8rem 1.5rem 3rem;

  .errorImg {
    display: flex;
    margin-bottom: 50px;
    max-width: 100%;
    margin: auto;
    height: auto;
    width: 372px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #232323;
    margin: 80px 0 0;
  }
  h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .btn {
    margin: auto;
  }
}

@media screen and (max-width: 563px) {
  .error {
    h1 {
      margin-top: 50px;
      font-size: 25px;
      line-height: 42px;
    }
  }
}

@media screen and (max-width: 767px) {
  .error {
    h3 {
      font-size: 15px;
      line-height: 28px;
    }
  }
}
